$primary: #c4001b;

html {
    background: black;
    color: white;
}

header {
    img {
        width: 100%;
    }
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em 6em 1em 5em;
    background: black;

    .material-icons {
        vertical-align: top;
        font-size: inherit;
    }

    a {
        display: block;
        font-size: 16px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .order a {
        padding: 5px 15px;
        background: $primary;
        border-radius: 15px;
    }

    .hamburger {
        display: none;
    }

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition: right 0.5s cubic-bezier(0.2, 0.3, 0.2, 1);
    }

    li {
        white-space: nowrap;
    }
}

@media only screen and (max-width: 900px) {
    nav {
        position: relative;
        z-index: 1;
        padding: 0;

        ul {
            position: fixed;
            top: 0;
            right: -50vw;
            height: 100vh;
            width: 50vw;
            flex-direction: column;
            padding: 20vh 0;
            background: rgba(0, 0, 0, .7);
            transition: right 1s;
        }

        .open {
            right: 0;
        }

        .order {
            position: fixed;
            bottom: 32px;
            right: 32px;

            .material-icons {
                vertical-align: middle;
            }

            a {
                padding: 0px;
                border-radius: 50%;
                letter-spacing: 0;
                height: 64px;
                width: 64px;
                line-height: 64px;
                font-size: 12px;
                text-align: center;
            }
        }

        .hamburger {
            display: block;
            position: fixed;
            top: 0;
            right: 0;
        }
    }

    .hamburger i.material-icons {
        padding: 12px;
        font-size: 24px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7),
            -1px -1px 0px rgba(0, 0, 0, .3);
    }

    .hidemobile {
        display: none;
    }

}

@media only screen and (max-width: 500px) {
    nav ul {
        width: 100vw;
        right: -100vw;
    }
}

main {

    .description {
        font-size: 18px;
        line-height: 25px;
        padding: 50px 15px;
        font-size: 18px;
        text-align: center;
    }

    p {
        margin-bottom: .5em;
        line-height: 1.3em;
    }
}

.menucontainer {
    background: url('../images/background.png');
    padding: 50px 50px;
}

#menu {
    background: white;
}

.menuheader {
    position: relative;
    padding: 16px;
}

#menutabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    text-transform: uppercase;

    i {
        color: black;
        position: absolute;
        text-shadow: -3px 0 1px #fff,
            -5px 0 2px #fff,
            3px 0px 2px #fff,
            5px 0px 2px #fff;
    }

    a {
        font-size: 18px;
        letter-spacing: 2px;
        display: inline-block;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 9px;
        transition: 0.2s;
        color: black;
        text-align: center;
        text-decoration: none;
        margin: 0 4px;
    }

    a.active {
        color: $primary;
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;
        font-weight: 600;
    }
}

@media screen and (pointer: fine) {
    #menutabs {
        overflow: hidden;
    }
}

@media screen and (max-width: 900px) {
    .menucontainer {
        padding: 50px 15px;
    }

    #menutabs a {
        //non-wrapping lines taller
        box-sizing: content-box;
        line-height: 2em;
    }

    #menutabs .menutab-wrap {
        // use non-breaking spaces (&nbsp;) to limit where tabs wrap
        line-height: 1em;
        white-space: normal;
    }

}

@media screen and (max-width: 500px) {
    #menutabs a {
        font-size: 16px;
    }
}

#indicator-left {
    left: -8px;
    // left arrow icon is aligned left within the element width, unlike the right which is centered
    padding: 8px 0 8px 16px;
    width: 40px;
}

#indicator-right {
    right: -8px;
    padding: 8px;
}

/* Style the tab content */
.tabcontent {
    color: black;
    display: none;
    padding: 1em .5em;
}


footer {
    color: #CCC;
}

#businessinfo {
    padding: 3em 0 1em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    line-height: 1.3em;
    h2 {
        text-transform: capitalize;
        color: $primary;
        margin-bottom: .5em;
        white-space: nowrap;
    }
    div {
        margin: 0 .5em 2em;
        white-space: nowrap;
    }
}

.sociallinks {
    background: #1F1F1F;
    display: flex;
    justify-content: center;
    padding: 1em;

    img {
        width: 48px;
        padding: .5em;
        margin: 0 1em;
    }
}

.invert {
    filter: brightness(0) invert(1);
}

.location {
    background: #191919;
    padding: 15px;
    display: flex;
    justify-content: space-around;

    img {
        height: 5em;
    }
}